<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stock Management Sys</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
    <h1> Beautiful Product Catalog Coming Soon</h1>
  <div th:insert="Fragments/fragment.html :: menu"></div>
</body>
<div class="container">
    <form class="form-signout" method="get" action="/logout">
        <button class="btn btn-sm btn-primary btn-block" type="submit">Logout</button>
    </form>
</div>
</html>